[submodule "bads"]
	path = submodules/bads
	url = https://github.com/lacerbi/bads
[submodule "vbmc"]
	path = submodules/vbmc
	url = https://github.com/lacerbi/vbmc
[submodule "submodules/iblanalysis"]
	path = submodules/iblanalysis
	url = git@github.com:int-brain-lab/analysis.git
