[submodule "analysis"]
	path = submodules/int-brain-lab/analysis
	url = git@github.com:int-brain-lab/analysis.git
[submodule "bads"]
	path = submodules/bads
	url = https://github.com/lacerbi/bads
[submodule "vbmc"]
	path = submodules/vbmc
	url = https://github.com/lacerbi/vbmc
